.uploader {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    padding: 15px;
}

.uploader .dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
    margin-bottom: 15px;
}

.uploader .dropzone:focus {
    border-color: #2196f3;
}


.uploader .preview {
    border: 1px solid #dadada;
    color: #444;
    padding: 0 10px;
    margin-bottom: 15px;
}

.uploader .upload {

}

.view-tree {
    padding: 0 15px;
}

.view-tree .download {
    margin-bottom: 10px;
}
